.dropdown {
  display: flex;
  flex-direction: column;

  position: relative;

  min-width: 250px;

  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border: 1px solid black;
}

.selectedOption {
  color: var(--primary-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  font-size: 1rem;
  transform-origin: center;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.rotated {
  transform: rotate(180deg);
}

.unselectedContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: absolute;
  top: 100%;
  left: -1px;

  padding: 0.25rem 0.5rem;
  border: 1px solid black;
  width: calc(100% + 2px); /* to accomodate border width of .dropdown */

  background-color: inherit;

  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.unselectedContainer.open {
  opacity: 1;
  transform: translateY(0);
}

.unselectedOption {
  color: var(--primary-bg);
}
