.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;

  position: relative;

  background-color: var(--primary-bg);
  color: var(--primary-color);

  padding: 1rem 4rem;
  min-height: 10%;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: var(--secondary-color);
}

.title {
  font-size: 2rem;
  color: var(--primary-color);

  transition: all 0.3s ease-in;
}

.title:hover {
  transform: scale(1.1);
  color: var(--secondary-color);
}

.options {
  display: flex;
  gap: 1rem;
}

.header button {
  padding: 0.5rem 1rem;
  font-size: 1rem;

  background-color: var(--secondary-bg);
  border: 1px solid var(--secondary-bg);
  color: var(--secondary-color);

  border-radius: 1rem;

  transition: all 0.3s ease-in;
}

.header button:hover {
  transform: scale(1.1);
  color: var(--secondary-bg);
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 2rem;
    gap: 2rem;
  }
}
